doctype html
html(lang='en')
    head
        title CRUD app
    body(style="font-family: sans-serif;")
        h1 Sequencing sample lists
        div
            a(href="/insert" style="font-size: 30px; text-decoration: none") Insert Data
        div
            if numSamples === 0
                h2 No data
            else
                table(width="100%" border="1" style="text-align:center")
                    tr
                        td DELETE
                        td EDIT
                        td ID
                        td LabID
                        td Donor Name
                        td Sample Date
                        td Sample Type 
                        td DNA Concentration

                    - sqlData.forEach((item, index) => {
                        tr
                            td
                                a(href="/delete/" + item.id) DELETE
                            td
                                a(href="/edit/" + item.id) EDIT
                            td= item.id
                            td= item.labId
                            td= item.donor
                            td= item.sampleDate
                            td= item.sampleType
                            td= item.dnaConc
                    - })
        